
.validator-table table {
    width: 100%;
}

.validator-table tbody td {
    padding: 0.5rem;
    height: 5rem;
}

.validator-table thead th {
    position: relative;
    padding: 0.5rem;
    color: var(--color-muted-foreground);
}

.validator-table thead th:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: 1px solid lightgray;
}